[submodule "Common"]
	path = Common
	url = https://github.com/sirepandeyy/Common
[submodule "Entities"]
	path = Entities
	url = https://github.com/sirepandeyy/Entities
[submodule "Dtos"]
	path = Dtos
	url = https://github.com/sirepandeyy/Dtos
[submodule "Mapping"]
	path = Mapping
	url = https://github.com/sirepandeyy/Mapping
